.spacing {
  padding: 10rem 0rem;
  margin: 0rem;
}
.titleSection {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-regular);
  color: var(--color-primary);
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
  font-size: 2rem;
}
.textSection {
  font-family: var(--font-base);
  font-weight: var(--font-weight-regular);
  color: var(--color-primary);
  letter-spacing: 1px;
  line-height: 1.7;
}

@media (min-width: 992px) {
  .titleSection {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }
}
