.bgImg {
  position: absolute;
  inset: 0;
  z-index: 0;

  background-image: url('/src/assets/bg-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* filter: sepia(100%) hue-rotate(190deg) saturate(500%); */
}

.bgImg::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--color-primary);
  opacity: 0.95;
  pointer-events: none;
}
