.wrapper {
  width: 100%;
  background: transparent;
  color: var(--color-white);
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0px);
  z-index: 1000;
  box-shadow: none;
}
.scrolled {
  background-color: var(--color-primary);
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 1);
}
.wrapperMenu {
  position: absolute;
  max-width: 100vw;
  height: 100vh;
  background-color: var(--color-primary);
  transform: translateX(-100%);
  /* transition: transform 0.35s ease; */
  transition: transform 0.5s ease;
}
.open {
  transform: translateX(0); /* ↔️ se desliza desde la izquierda */
}
.logo {
  height: 2rem;
  margin: 2rem;
}

@media (min-width: 992px) {
  .logo {
    height: 1.5rem;
  }
  .wrapperMenu {
    position: static;
    height: auto;
    background-color: transparent;
    transform: none !important;
    transition: none !important;
  }
  .boxLogo {
    display: none;
  }
}
@media (orientation: portrait) {
  .logo,
  .btnHeader {
    margin: 2rem;
  }
}
@media (orientation: landscape) {
  .logo,
  .btnHeader {
    margin: 1rem 3rem;
  }
}
