.spacing {
  padding: 5rem 0rem;
  margin: 0rem;
}
.titleSection {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-regular);
  color: var(--color-primary);
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
  font-size: 2rem;
}
.titleLine {
  border-left: 5px solid var(--color-accent);
}
.textSection {
  font-family: var(--font-base);
  font-weight: var(--font-weight-regular);
  color: var(--color-primary);
  letter-spacing: 1px;
  line-height: 1.7;
}
.subtitleSection {
  font-family: var(--font-base);
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
}
.contSubtitle {
  width: 100%;
}
.constText {
  width: 100%;
}
.clrGold {
  color: var(--color-accent);
}

@media (min-width: 992px) {
  .spacing {
    padding: 10rem 0rem;
    margin: 0rem;
  }
  .titleSection {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .contSubtitle {
    width: 30%;
  }
  .constText {
    width: 70%;
  }
}
