.banner {
  min-height: 100vh;
  text-align: center;
  padding: 0 1rem;
}

.title {
  font-family: var(--font-heading);
  font-size: 5rem;
  letter-spacing: 0.4rem;
  font-weight: var(--font-weight-regular);
}

.subTitle {
  letter-spacing: 0.12rem;
}

.btnMain {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  border-color: var(--color-accent) !important;
}

.btnMain:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}
.heightBanner {
  min-height: 100vh;
}
