.spacing {
  padding: 10rem 0rem;
  margin: 0rem;
  background-color: var(--color-primary);
}
.titleSection {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-regular);
  color: var(--color-background);
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
  font-size: 2rem;
}
.titleIcon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.clrGold {
  color: var(--color-accent);
  font-size: 3rem;
}
.iconCircle {
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 1);
}
.textSection {
  font-family: var(--font-base);
  font-weight: var(--font-weight-regular);
  color: var(--color-background);
  letter-spacing: 1px;
  line-height: 1.7;
}
.textList {
  list-style: none;
  padding-left: 0px;
}
.highlighted {
  color: var(--color-accent);
}
.card {
  background-color: var(--color-blue);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2.2rem;
  align-content: center;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 1);
}

@media (min-width: 992px) {
  .titleSection {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .titleLine {
    border-left: 5px solid var(--color-white);
  }
}
