.tableContainer {
  border-radius: 5px;
  margin-top: 5rem;
}
.table {
  background-color: var(--color-background);
  color: var(--color-background);
  border-color: rgba(255, 255, 255, 0.15);
  font-size: 0.95rem;
  border-radius: 3px;
}

.headRow th {
  background: #000;
  color: #c29a5b;
  border: none;
}

.check {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background: var(--color-black);
  border: 2px solid #c29a5b;
  color: #c29a5b;
}

tbody tr:nth-child(odd) td {
  background-color: var(--color-primary);
  color: var(--color-white);
}
